*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  /* border: 2px solid red; */
}

@font-face {
  font-family: CatinRegular;
  src: url("./assets/font/Aeoinik/Aeonik-Regular.otf");
}

@font-face {
  font-family: Catin;
  src: url("./assets/font/Aeoinik/Aeonik-Bold.otf");
}

@font-face {
  font-family: Roboto;
  src: url("./assets/font/Roboto/Roboto-Regular.ttf");
}

@media (min-width:700px) {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
    /* border: 2px solid red; */
  }
}
